html {
  box-sizing: border-box;
  font-family: 'Karla';
    font-size: 14px;
}
body {
  padding: 20px;
}

h4, h4, p{
 margin: 0;
}

*,*:before, *:after {
  box-sizing: inherit;
}

#Card {
  width: 600px;
  height: 400px;
  box-shadow: 7px 7px 9px 5px rgba(0,0,0,0.22);
  border-radius: 9px;
  overflow: hidden;
  padding: 20px;
  
 
}

#top {
  width: 100%;
  heigth: 45%;
padding: 25px;
}

#bottom-section {
  width: 100%;
  heigth: 55%;
  color: white;
 
}

#bottom-left {
  display:inline-block;
  width: 50%;
  heigth: 100%;
  vertical-align: top;
  background-color: #2ab2af;
  padding: 25px;
}

#bottom-rigth {
  display:inline-block;
  width: 50%;
  heigth: 100%;
  vertical-align: top;
  background-color: #28b8b4;
  padding: 25px;
}
.blaba {
  color: #2ab2af;
}
.blaba:hover {
  cursor: default;
}


#top h2 {
  color: #2ab2af;
  margin-bottom: 20px;
}

#top h4 {
  color: #c0df34;
  margin-bottom: 10px;
}

#top p {
  color: #98a6bd;
}

button {
  color: white;
  background-color:  #c0df34;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: green;
  transform: scale(1.03);
  
}

#price {
  font-weigth: 700px;
  font-size: 1.4rem;
}

bottom-left h4{
  margin-bottom: 25px;
}
bottom-left p{
 font-size:0.8rem;
  margin-bottom: 40px;
}

#price-frequency , #price {
  display: inline-block;
}

#price-frequency {
  position: relative;
  top: -3px;
  font-size: 0.8rem;
  opacity:0.7;
  margin-left: 5px;
}

.ul {
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  opacity: 0.8;
}
